<mat-card>
    <mat-card-title class="title">Tem certeza?</mat-card-title>
    <form>
        <p matInput placeholder="mes"
        [(ngModel)]="product.mes" name="mes" class="mes">Produto: {{product.mes}}</p>

        <p matInput placeholder="projeto"
        [(ngModel)]="product.projeto" name="projeto" class="projeto">{{product.projeto}}</p>
    </form>
    <button mat-raised-button class="delete" (click)="delete()" color="warn">
      Excluir
    </button>
    <button mat-raised-button class="cancel" (click)="cancel()" color="secondary">
      Cancelar
    </button>

    <p class="warning">
      <strong>AVISO: </strong>
      Uma vez deletado, o produto não pode ser recuperado!
    </p>
  </mat-card>