<mat-card>
    <mat-card-title>Editar Produto</mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Projeto"
        [(ngModel)]="product.projeto" readonly name="mes">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Atividade"
        [(ngModel)]="product.atividade" name="projeto">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Detalhe da atividade"
        [(ngModel)]="product.atividadeDetalhe" name="projeto">
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="editProduct()" color="primary">
      Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()" color="secondary">
      Cancelar
    </button>
  </mat-card>
